.card {
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 #bcbaba;
  &__header {
    background-color: $color-sailor;
    color: $color-fairly;
    text-align: center;
    padding-top:5px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &__title {
    }
  }
}
